# Dependencies
node_modules/
.pnpm-store/
.npm/
.yarn/
.yarn-cache/
.yarnrc

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.cache/
coverage/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

generated


# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

.vercel

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

# Temporary files
tmp/
temp/

# NestJS specific
dist/
node_modules/


# Misc
*.tgz
*.pid
*.seed
